Repository EngSoft-UFMS/algoritmos_e_programacao_1, pull requests merged in 2023-06, with the labels that each got.

#22 Exercicio beecrowd 1557
  Beecrowd/1557 - Matriz Quadrada III/1557.py
  Beecrowd/1557 - Matriz Quadrada III/README.md
Labels: enhancement, beecrowd

#27 Exercicio beecrowd 1021 closes #26
  Beecrowd/1021 - Notas e Moedas/1021.py
  Beecrowd/1021 - Notas e Moedas/README.md
Labels: beecrowd

#31 Listas lista10
  listas/lista10/README.md
  listas/lista10/lista10.py
Labels: lista

#35 reform(jogo do NIM): Correção
  ExercicioAvaliativo/jogoNIM.py
Labels: exercicio avaliativo

#49 Implementação do Trabalho "Jogo de Perguntas e Respostas" e todas as funcionalidades requisitadas
  trabalho/JogoDePerguntasERespostas/PerguntasRespostas.py
  trabalho/JogoDePerguntasERespostas/README.md
Labels: necessario, new_feature, trabalho
